:root {
    --pad: max(20px, 4vmin);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#page {
    background-color: #0d0d0d;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#background {
    position: fixed;
    z-index: 1;
    left: var(--pad);
    right: var(--pad);
    top: var(--pad);
    bottom: var(--pad);
    pointer-events: none;
    overflow: hidden;
}

.mask {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.maskTop {
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--pad);
    background-color: #0d0d0d;
    opacity: 0.9;
}

.maskBottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--pad);
    background-color: #0d0d0d;
    opacity: 0.9;
}

.frame {
    position: fixed;
    z-index: 10;
    left: var(--pad);
    right: var(--pad);
    top: var(--pad);
    bottom: var(--pad);
    mix-blend-mode: difference;
    pointer-events: none;
}

.frame_line {
    position: absolute;
    background-color: #fff;
    opacity: 0.5;
}

.frame_line_left {
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
}

.frame_line_right {
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
}

.frame_line_top {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
}

.frame_line_bottom {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
}

#header {
    width: 33%;
    position: fixed;
    z-index: 2;
    left: calc(var(--pad) * 2);
    top: calc(var(--pad) * 2);
    mix-blend-mode: difference;
}

#header h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-size: 300%;
}

#header p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-style: italic;
    font-size: 150%;
}

.nav {
    margin: 10% 0 0 1%;
    height: 80vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.navbar-item {
    color: #fff;
    font-family: "League Spartan", sans-serif;
    list-style: none;
}

.navbar-item a {
    color: inherit;
    text-decoration: none;
    font-size: 160%;
}

.button {
    -webkit-animation: fade-in 1s linear;
    animation: fade-in 1s linear;
    color: #fff;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
    list-style: none;
    font-size: 220%;
}

.navbar-item a:hover {
    opacity: 30%;
    color: #fff;
    transition: 0.4s;
}

.content {
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.inner-content {
    position: relative;
    min-height: 100%;
}

.home {
    -webkit-animation: fade-in 3s linear;
    animation: fade-in 3s linear;
    position: absolute;
    right: calc(var(--pad) * 2);
    bottom: calc(var(--pad) * 1.5);
    white-space: nowrap;
}

.about-me {
    font-family: "League Spartan", sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    color: white;
    font-size: 100%;
    font-weight: 800;
    padding-right: 20px;
    text-transform: uppercase;
}

.motto {
    font-family: "League Spartan", sans-serif;
    font-size: 100%;
    font-style: italic;
}

.projects {
    -webkit-animation: fade-in 3s linear;
    animation: fade-in 3s linear;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: calc(var(--pad) * 3);
    bottom: calc(var(--pad) * -19);
}

.projectHeaderContainer {
    width: 100%;
    text-align: center;
}

.projectHeaderArrow {
    padding-bottom: 2.5%;
    transform: scale(1.5);
    color: #fff;
    font-family: "Raleway", sans-serif;
    animation: blink 2s infinite 3s;
}

.projectHeader {
    color: #fff;
    font-family: "Raleway", sans-serif;
    animation: blink 2s infinite 3s;
}

.project-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    align-items: baseline;
    -moz-column-gap: 15px;
    width: 140%;
    column-gap: 15px;
    text-decoration: none;
    color: white;
    line-height: 3.5;
    font-family: "Raleway", sans-serif;
}

.project-item:hover {
    transition: 0.4s;
    opacity: 30%;
    color: #fff;
}

.project-title {
    width: 100%;
    text-align: center;
    font-size: 220%;
    font-weight: 800;
    font-family: "League Spartan", sans-serif;
}

.project-info {
    width: 100%;
    text-align: end;
    font-family: "League Spartan", sans-serif;
    font-size: 100%;
}

.info {
    -webkit-animation: fade-in 3s linear;
    animation: fade-in 3s linear;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: calc(var(--pad) * 3);
    bottom: calc(var(--pad) * 2);
    padding-right: 10px;
}

.info-item {
    color: white;
    text-decoration: none;
    font-size: 220%;
    font-family: "Raleway", sans-serif;
}

.info-item:hover {
    transition: 0.4s;
    opacity: 30%;
    color: #fff;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Scroll Arrow Blink */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {
    .nav {
        padding-top: 10%;
    }
    .projects {
        bottom: calc(var(--pad) * -23);
    }
    .project-item {
        flex-direction: column-reverse;
        width: 100%;
    }
    .project-title {
        font-size: 150%;
    }
    .project-info {
        text-align: center;
        font-size: 80%;
    }
    #header {
        font-size: 63%;
    }
    #header p {
        font-size: 45%;
    }
}

@media screen and (max-width: 425px) {
    .projectHeader{
        font-size: 100%;
        padding-bottom: 15%;
    }
    .projectHeaderArrow{
        transform: scale(1);
    }
    .project-item {
        width: 100%;
        flex-direction: column-reverse;
    }
    .project-title {
        font-size: 82%;
    }
    .project-info {
        width: 100%;
    }
    .about-me {
        font-size: 70%;
    }
    .button {
        font-size: 300%;
    }
    #header h1 {
        font-size: 156%;
        font-weight: bolder;
    }
    .projects {
    bottom: calc(var(--pad) * -20);
    }
    .info-item {
        font-size: 150%;
    }
    .home {
        right: 10%;
    }
    .nav {
        padding-top: 20%;
    }
}
